PORT=4006
USER_SERVICE_HOST=localhost
USER_SERVICE_PORT=4001
ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_PORT=4002
LOCATIONS_SERVICE_HOST=localhost
LOCATIONS_SERVICE_PORT=4004
MENU_SERVICE_HOST=localhost
MENU_SERVICE_PORT=4005
JWT_PUBLIC_KEY_PATH=./secrets/public.pem
INTERNAL_API_KEY=internal-dev-key
